<div class="jumbotron">
  <h2>You can find our company at address shown below</h2></br>
</div>

<ul class="list-group">
  <li class="list-group-item">Company Name</li>
  <li class="list-group-item">Street Name</li>
  <li class="list-group-item">House Number / Flat Number</li>
  <li class="list-group-item">Post Code</li>
  <li class="list-group-item">City Name</li>
  <li class="list-group-item">Region and Country</li>
</ul>


<div class="jumbotron">
  <h2>Or You can also call us, or write us an email:</h2></br>
</div>

<ul class="list-group">
  <li class="list-group-item">Phone Number First</li>
  <li class="list-group-item">Phone Number Seccond</li>
  <li class="list-group-item">Email address</li>
</ul>