
<h1>Welcome in Nina Online Store (NOS)</h1></br>
<p>You can find here many different things, but mostly we are specialized in totally weird products - please feel free to buy anything You want!</p>

<h2><%= @products.size %></h2>

<% @products.each do |p| %>
  <%= p.name %> </br>
<% end -%>
