
<div class="jumbotron">
  <h1>Welcome in Nina Online Store (NOS)</h1>
  <p>You can find here many different things, but mostly we are specializing in totally weird products - please feel free to buy anything You want!</p>
</div>
  
<h2><%= @products.size %></h2>

<% if session[:cart] %>
  Twój Koszyk:<br/>
  <% Product.where(id: session[:cart]).each do |product| %>
    <%= product.name %><br/>
  <% end -%>
<% end -%>

<hr>

<% @products.each do |p| %>
  <%= p.name %> <%= link_to "Add to cart", add_to_cart_product_url(p.id), method: :post %>
  </br>
<% end -%>
